/* :root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
} */
.banner{
  background-color: burlywood;
}
.banner_text{
  margin-top: 20px;
  font-weight: 700;
  font-size: 25px;
  color: rgb(131, 117, 193);
}
.banner_btn{
  width:250px;
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 400;
  color: white;
  font-size: 25px;
  margin-top: 20px;
  background-color: rgb(178, 73, 76);
  border-radius: 150px;
  box-shadow:  0px 5px rgb(117, 33, 36);
}
.third_section {
  background-color: rgb(131, 117, 193);
  color: white;
  font-weight: 500;
  text-align: center;
}
.section_header{
  font-size: 30px;
  line-height: 60px;
}
.section_header_two{
  font-size: 30px;
  width: 90%;
  margin: auto;
}
.bolden{
  font-weight: bold;
  font-size: 38px;
}
.bullet_list{
  font-size: 30px;
  text-align: left;
}
.third_section_final_header{
  color: #333;
  font-weight: 600;
  font-size: 35px;
}
.fourth_section {
  background-color: #b2494c;
  color: white;
  font-weight: 500;
  text-align: center;
}
.fifth_section {
  background-color: #c3bfc0;
  color: #333;
  font-weight: 600;
}
.fifth_section_holder{
  margin: 0px 10%;
}
.fifth_section_header{
  margin-top: 20px;
  font-size: 25px;
  line-height: 50px;
}
.banner_color{
  color: #b2494c;
}
.sixth_section {
  background-color: rgb(131, 117, 193);
  color: white;
  font-weight: 500;
  text-align: center;
}

.sixth_section_header{
  font-size: 50px;
}

.seventh_section {
  background-color: #b2494c;
  color: #e8e1d3;
  font-weight: 500;
  text-align: center;
  padding: 100px 0px;
}
.small_image{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #333;
}
.image_name{
  font-size: 25px;
}
.image_social{
  font-size: 20px;
  color: white;
}
.single_info{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.eight_section {
  background-color: rgb(131, 117, 193);
  color: white;
  font-weight: 700;
  text-align: center;
  padding: 100px 0px;

}
.eight_section_header{
  font-size: 40px;
  line-height: normal;
}
.ninth_section {
  width: 80%;
  font-weight: 600;
  text-align: center;
  padding: 100px 0px;
  color: #333;
}
.eleventh_section {
  font-weight: 600;
  text-align: center;
  padding: 100px 0px;
  background-color: #c3bfc0;
  color:black
}
.twelvth_section {
  background-color: #b2494c;
  text-align: center;
  padding: 50px 0px;
}
.thirteenth_section {
  background-color: rgb(131, 117, 193);
  padding: 100px 0px;
}
.fifteenth_section {
  font-weight: 600;
  text-align: center;
  padding: 100px 0px;
  background-color: #b2494c;
  color:#e8e1d3;
}
