/* :root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
} */
.banner{
  background-color: burlywood;
}
.banner_text{
  margin-top: 20px;
  font-weight: 700;
  font-size: 25px;
  color: blueviolet;
}
.banner_btn{
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font:bold;
  color: white;
  font-size: 25px;
  margin-top: 20px;
  background-color: purple;
  border-radius: 150px;
  box-shadow: royalblue;
}
/* .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); } */
